<div class="row micro_posts">
  <div class="col-md-8">
    <h2>
      <%= micro_post.title %>
      <small><%= micro_post.user.full_name %></small>
    </h2>
  </div>
  <div class="col-md-4">
    <% if can? :update, micro_post %>
      <%= link_to "Edit Post", edit_micro_post_path(micro_post.id), class: 'btn btn-sm btn-default' %>
    <% end %>
    <% if can? :delete, micro_post %>
      <%= link_to "Delete Post", micro_post_path(micro_post.id), method: :delete, class: 'btn btn-sm btn-default' %>
    <% end %>
  </div>
</div>

<p>
  <%= micro_post.content %>
</p>
