<h1>Welcome to my Blargh</h1>

<%= link_to "New Blargh", new_micro_post_path %>

<% @micro_posts.each do |micro_post| %>
<div class="row micro_posts">
  <div class="col-md-8">
    <h2>
      <%= micro_post.title %>
      <small><%= micro_post.user.full_name %></small>
    </h2>
  </div>
  <div class="col-md-4">
    <%= link_to "Edit Post", edit_micro_post_path(micro_post.id), class: 'btn btn-sm btn-default' %>
    <%= link_to "Delete Post", micro_post_path(micro_post.id), method: :delete, class: 'btn btn-sm btn-default' %>
  </div>
</div>

  <p>
    <%= micro_post.content %>
  </p>
<% end %>


<pre>
  <code>
    <%= current_user.email if current_user %>
  </code>
</pre>
